$bgColor: #0f172b;
$fgColor: #fff;

html,
body {
  background-color: $bgColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1,
p {
  color: $fgColor;
}
